header img {
    width:80%;
}

header {
    display:grid;
    width: 50vw;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-content: center;
}

.sectionName{
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

article {
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.info {
    background:lightgrey;
    padding: 1px 50px;
    font-style: Courier, monospace;
    border-radius:20px;
}

.wrap {
    display: flex;
    margin-bottom: 0px;
}
