
div .pict{
    display: grid;
}

.map {
    position:absolute;
    width:80vw;
    margin: 0px auto;

}

.pict img {
    margin: 0px auto;
    width:900px;
}

.pict h1 {
    margin: 0px;
    position: absolute;
}

.highlightable {
  stroke: #944278fe; /* цвет при наведении, например, красный */
; /* первоначальный цвет */
  transition: stroke 0.3s;
  fill:#ffceeeff;
}

.highlightable:hover {
  stroke: #efffbbfe; /* цвет при наведении, например, красный */
  stroke-width: 0.1vw;
}
