
div .pict{
    display: grid;
    margin: 0 auto;
    /* width: 900px; */

}

.pict img {
    margin: 0px auto;
    width:900px;
}

.pict h1 {
    margin: 0px;
    position: absolute;
    top: 5vh;
    left: 200px;
}

